//Font
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
$font: "Afacad Flux", sans-serif;
$font-size: 14px;
$header-size: 40px, 30px, 20px, 18px, 15px;

//Färger
$primary: #fa5252;
$secondary: #e64980;
$alternative: #22b8cf;
$black: #212529;
$darkgrey: #868e96;
$lightgrey: #ced4da;
$white: #f8f9fa;


//Layout
$base: 8px;